@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------Variables---------- */
:root{
  --color-primary: #ff7474;
  --font-primary : 'Roboto', sans-serif;
}
/*-----------------------------*/

/*------classes-------*/
.btn{
  display: block;
  background: transparent;
  padding: 10px 30px;
  margin: 10px;
  border: none;
  cursor: pointer;
}
.btn.btn-white, .btn.btn-white:active{
  box-shadow: 0px 4px 98px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: var(--color-primary);
  color: #fff;
  font-weight: bold;
  transition: .6s;
}
.btn.btn-white:hover{
  background: #fff;
  color: var(--color-primary);
}
/*-----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
ul{
  list-style-type: none;
}
html, body, #root, .home{
  height: 100%;
  font-family: var(--font-primary);
  font-size: .99em;
}
.navbar{
  width: 90%;
  background: #FFFFFF;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.082);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  padding: 15px 30px;
}
.navbar .navbar-brand span{
  display: inline-block;
  vertical-align: middle;
}
.navbar .logo img{
  width: 40px;
}
.navbar .name{
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.14em;
  color: #0B0B0B;
  margin: 0 10px;
}
.navbar a{
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: underline;
}